doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Add Post
    body 
        nav.navbar
            ul 
                li 
                    a(href="/") home
                li 
                    a(href="/addpost") add post
                if user === 'null'
                    li 
                        a(href="/login") login
                    li 
                        a(href="/register") register 
                else
                    div.left
                        li 
                            strong welcome #{user.name} 
                        li 
                            a(href="/logout").btn.red logout
        div.container
            div.form_container
                form(action="/api/post" method='post').form
                    h1 Add Post
                    input(type="url" name='url' placeholder='https://pexels.com...')
                    input(type="text" name='title' placeholder='yout title here...')
                    textarea(cols="30", rows="10", name='description', placeholder='Description...') 
                    input(type="submit", value="Add Blog")