doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Register
    body
        nav.navbar
            ul 
                li 
                    a(href="/") home
                li 
                    a(href="/addpost") add post
                if user === 'null'
                    li 
                        a(href="/login") login
                    li 
                        a(href="/register") register 
                else
                    div.left
                        li 
                            strong welcome #{user.name} 
                        li 
                            a(href="/logout").btn.logout logout
        div.update_container
            div.form_container
                h1 Register
                form(action="/register" method='post').form 
                    input(type="text" placeholder='username...' name='name' required)
                    input(type="email" placeholder='email...' name='email' required)
                    input(type="password" placeholder='password...' name='password' required)
                    input(type="submit", value="Register")