@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #111;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    padding: 20px 80px;
    display: flex;

    background-color: #111;
    color: #eee;
}

.navbar ul {
    width: 100%;
    list-style: none;

    display: flex;
    align-items: center;
}

.navbar ul li {
    margin-left: 45px;
}

.navbar ul li a {
    color: #eee;
    font-weight: 700;
}

.navbar ul li {
    text-transform: uppercase;
}

.left {
    display: flex;
    align-items: center;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #222;
}

.container, .update_container {
    width: 100%;
    min-height: 100vh;
    padding-top: 20px;
    margin-top: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    overflow-x: hidden;
}

.update_container {
    margin: 0;
}

.blog_container {
    width: 100%;
    max-width: 425px;
    margin: 20px;

    overflow: hidden;
}

.img_container {
    width: 100%;
    height: 100%;
    max-height: 250px;

    overflow: hidden;
}

.img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    padding: 10px 0 0px;
}

.info h1 {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    color: #ddd;
}

.info h1::first-letter, .info p::first-letter {
    text-transform: uppercase;
}

.info p {
    margin-top: 5px;
    font-weight: 500;
    color: #888;
}

/*------------------- add post -----------------*/
.form_container {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #000;
}

.form_container .form {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form_container .form input, .form_container .form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #444;
    color: #ddd;

    border: none;
    outline: none;
}

.form_container .form input[type="submit"] {
    background-color: #1f8600;
    cursor: pointer;
}

.form_container .form input[type="submit"]:hover {
    background-color: #1a6b01;
    cursor: pointer;
}

.form_container h1 {
    color: #ddd;
    text-align: center;
    margin-bottom: 20px;
}

.form h1 {
    color: #ddd;
    text-align: center;
    margin-bottom: 20px;
}

.btns_container {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    
    display: flex;
}

.btn {
    padding: 10px 20px;
    margin-left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #eee;

    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
}

.btn.red {    
    background-color: #990000;
    text-transform: capitalize;
}

.update {    
    background-color: #2b9900;
    text-transform: capitalize;
}

.btn.logout {
    text-transform: lowercase;
    border-radius: 30px;
    background-color: #333;
}

.btn.logout:hover {
    background-color: #555;
}

/*------------------- details ---------------------*/
.details_container {
    width: 100%;
    min-height: 100vh;
    padding-top: 20px;
    margin-top: 60px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.details_blog_container {
    width: 100%;
    max-height: 600px;
    height: 100%;
}

.details_img_container {
    width: 100%;
    height: 100%;
    max-height: 415px;
    overflow: hidden;
}

.details_img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details_info {   
    padding: 20px;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;

    color: #eee;
}

.details_info p {
    margin-top: 15px;
    word-wrap: break-word;
    color: #ccc;
}
